/common/.idea/
/common/Cargo.lock
/common/target/

/sysmon-um/.idea/
/sysmon-um/Cargo.lock
/sysmon-um/target/

/sysmon-km/.idea/
/sysmon-km/Cargo.lock
/sysmon-km/target/
/sysmon-km/DriverCertificate.cer

/output/
